# Virtual environments
venv/
onnx_env/
convert_env/

# Python
__pycache__/
*.pyc

# Dataset & notebooks
dataset/
notebooks/
results/
tests/
gradcam/

# Uploaded images
static/images/
static/heatmaps/

# Logs
*.log

# Environment
.env
.DS_Store